apex==0.1
asposestorage==1.0.2
av==14.1.0
bitsandbytes==0.45.5
boto3==1.35.74
botocore==1.36.3
datasets==3.5.0
einops==0.8.1
jiwer==3.1.0
kornia==0.8.0
librosa==0.10.2.post1
lion_pytorch==0.2.3
matplotlib==3.10.1
mpi4py==3.1.4
mup==1.0.0
numpy==2.2.5
openai_whisper==20240930
pandas==2.2.3
paramiko==3.5.0
Pillow==11.2.1
polars==1.27.1
pyarrow==19.0.1
pyav==14.1.0
pyctcdecode==0.5.0
pytorch_fid==0.3.0
PyYAML==6.0.2
s3fs==2025.2.0
safetensors==0.5.3
scipy==1.15.2
scp==0.15.0
seaborn==0.13.2
six==1.17.0
soundfile==0.12.1
soxr==0.5.0.post1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1
tqdm==4.67.1
transformers==4.49.0
wandb==0.19.10
